{% set placeHolderText = "Lorem ipsum dolor sit amet consectetur adipisicing
elit. Ut id cupiditate perspiciatis veritatis magnam, atque ipsam! Saepe ducimus
quasi vitae maiores beatae praesentium ullam culpa labore, enim libero eos sed!"
%}
<div class="accessibility-control-group">
  <div class="accessibility-control">
    <button
      class="accessibility-control__button"
      type="button"
      data-overlay-button="text"
    >
      <span
        class="accessibility-control__button-icon accessibility-control__button-icon--text"
        >Aa</span
      >
      <span class="accessibility-control__button-label">Change text size</span>
    </button>

    <div
      class="accessibility-control__panel invert-focus"
      aria-hidden="true"
      data-overlay-panel="text"
    >
      <div class="accessibility-control__modal">
        <button
          type="button"
          class="accessibility-control__close-button"
          data-overlay-close-button="text"
        >
          {% include "icons/cross.njk" %}
          <span class="sr-only">Close</span>
        </button>

        <fieldset class="accessibility-control__fieldset">
          <legend class="accessibility-control__legend">Text size</legend>

          <div class="accessibility-control__input-row">
            <div class="accessibility-control__input-wrap">
              <input
                class="accessibility-control__input"
                type="radio"
                id="font-size-smaller"
                name="font-size"
                value="smaller"
              />
              <label
                class="accessibility-control__label"
                for="font-size-smaller"
              >
                <div class="accessibility-control__fake-input">
                  <span
                    class="accessibility-control__preview-text accessibility-control__preview-text--smaller"
                    >{{ placeHolderText }}</span
                  >
                  <span class="accessibility-control__selected-icon"
                    >{% include "icons/tick.njk" %}</span
                  >
                </div>
                <span class="accessibility-control__fake-label">Smaller</span>
              </label>
            </div>
            <div class="accessibility-control__input-wrap">
              <input
                class="accessibility-control__input"
                type="radio"
                id="font-size-auto"
                name="font-size"
                value="auto"
                checked
              />
              <label class="accessibility-control__label" for="font-size-auto">
                <div class="accessibility-control__fake-input">
                  <span
                    class="accessibility-control__preview-text accessibility-control__preview-text--auto"
                    >{{ placeHolderText }}</span
                  >
                  <span class="accessibility-control__selected-icon"
                    >{% include "icons/tick.njk" %}</span
                  >
                </div>
                <span class="accessibility-control__fake-label">Auto</span>
              </label>
            </div>
            <div class="accessibility-control__input-wrap">
              <input
                class="accessibility-control__input"
                type="radio"
                id="font-size-larger"
                name="font-size"
                value="larger"
              />
              <label
                class="accessibility-control__label"
                for="font-size-larger"
              >
                <div class="accessibility-control__fake-input">
                  <span
                    class="accessibility-control__preview-text accessibility-control__preview-text--larger"
                    >{{ placeHolderText }}</span
                  >
                  <span class="accessibility-control__selected-icon"
                    >{% include "icons/tick.njk" %}</span
                  >
                </div>
                <span class="accessibility-control__fake-label">Larger</span>
              </label>
            </div>
          </div>
        </fieldset>
        <p tabindex="0" class="visible-tab-only">end of dialogue</p>
      </div>
    </div>

    <div
      aria-hidden="true"
      class="overlay-screen"
      data-overlay-dimmer="text"
    ></div>
  </div>

  <div class="accessibility-control">
    <button
      class="accessibility-control__button"
      type="button"
      data-overlay-button="color"
    >
      <span
        class="accessibility-control__button-icon accessibility-control__button-icon--color"
      >
        {% include "icons/paint-drops-light.njk" %}
      </span>
      <span class="accessibility-control__button-label"
        >Change colour scheme</span
      >
    </button>

    <div
      class="accessibility-control__panel invert-focus"
      aria-hidden="true"
      data-overlay-panel="color"
    >
      <div class="accessibility-control__modal">
        <button
          type="button"
          class="accessibility-control__close-button"
          data-overlay-close-button="color"
        >
          {% include "icons/cross.njk" %}
          <span class="sr-only">Close</span>
        </button>

        <fieldset class="accessibility-control__fieldset">
          <legend class="accessibility-control__legend">Color scheme</legend>

          <div class="accessibility-control__input-row">
            <div class="accessibility-control__input-wrap">
              <input
                class="accessibility-control__input"
                type="radio"
                id="color-scheme-light"
                name="color-scheme"
                value="light"
              />
              <label
                class="accessibility-control__label"
                for="color-scheme-light"
              >
                <div class="accessibility-control__fake-input">
                  <span
                    class="accessibility-control__preview-color accessibility-control__preview-color--light"
                  ></span>
                  <span class="accessibility-control__selected-icon"
                    >{% include "icons/tick.njk" %}</span
                  >
                </div>
                <span class="accessibility-control__fake-label">Light</span>
              </label>
            </div>
            <div class="accessibility-control__input-wrap">
              <input
                class="accessibility-control__input"
                type="radio"
                id="color-scheme-auto"
                name="color-scheme"
                value="auto"
                checked
              />
              <label
                class="accessibility-control__label"
                for="color-scheme-auto"
              >
                <div class="accessibility-control__fake-input">
                  <span
                    class="accessibility-control__preview-color accessibility-control__preview-color--auto"
                  ></span>
                  <span class="accessibility-control__selected-icon"
                    >{% include "icons/tick.njk" %}</span
                  >
                </div>
                <span class="accessibility-control__fake-label">Auto</span>
              </label>
            </div>
            <div class="accessibility-control__input-wrap">
              <input
                class="accessibility-control__input"
                type="radio"
                id="color-scheme-dark"
                name="color-scheme"
                value="dark"
              />
              <label
                class="accessibility-control__label"
                for="color-scheme-dark"
              >
                <div class="accessibility-control__fake-input">
                  <span
                    class="accessibility-control__preview-color accessibility-control__preview-color--dark"
                  ></span>
                  <span class="accessibility-control__selected-icon"
                    >{% include "icons/tick.njk" %}</span
                  >
                </div>
                <span class="accessibility-control__fake-label">Dark</span>
              </label>
            </div>
          </div>
        </fieldset>
        <p tabindex="0" class="visible-tab-only">end of dialogue</p>
      </div>
    </div>

    <div
      aria-hidden="true"
      class="overlay-screen"
      data-overlay-dimmer="color"
    ></div>
  </div>
</div>
