<h5 class="m-t-6">Keep learning.</h5>
<p>
  I believe that to work in software development you need to be studious. I like
  to understand things properly and feel uneasy trusting black-boxes.
</p>

<h5 class="m-t-6">Read the code.</h5>
<p>
  Spending time reading a codebase can help dispel the urge to re-write
  everything and helps me to communicate how it works to non-technical people.
</p>

<h5 class="m-t-6">Do it properly.</h5>
<p>
  Only cut corners when it’s a good idea and don’t think you are too important
  to suffer a little tedium.
</p>

<h5 class="m-t-6">Any plan is better than no plan.</h5>
<p>
  A little time spend thinking about what you are going to do before you start
  is always worth while. Even if the plan is to improvise.
</p>

<h5 class="m-t-6">Listen first, then speak.</h5>
<p>
  Whether it’s a group situation or one on one, you have to listen first if you
  want anyone to hear you. To truly listen you have to be open to being wrong.
  The same also applies to code-style and architectural decisions, you have use
  a setup before you can suggest an improvement.
</p>

<h5 class="m-t-6">Nothing is impossible.</h5>
<p>
  I find when people say “it can’t be done” they are making a judgement on the
  cost vs benefit without discussing either. When you share the your knowledge
  with people to help them understand what they are asking you can often find to
  a pragmatic solution, or at least drop it with confidence.
</p>

<h5 class="m-t-6">Put the fire out now, find the cause later.</h5>
<p>
  I expect myself and others to make mistakes. I want to be the person who
  others feel confident coming to when there is a problem. I believe it is how
  you plan for and deal with them is more important than never making them. When
  some one comes to me with a problem or bad situation I will listen and help
  first before discussing how it could have been avoided. When the time comes I
  hope others can do the same for me.
</p>

<h5 class="m-t-6">Give credit when it’s due.</h5>
<p>
  If some one else had the idea that I’m working on I make sure everyone know
  where it came from. If a person helped me, either with practical work, advice
  or coaching I want those around me to know where success comes from. I feel it
  is important for me personally to do these things because of my background I
  tend to win peoples trust more quickly and get given the benefit of the doubt
  more often than others.
</p>

<h5 class="m-t-6">You won’t remember.</h5>
<p>
  That task you said you would do, the solution you just discovered; write it
  down, and do so in a way that assumes you will have forgotten the context.
  Your future self or whoever else finds your words will thank you.
</p>
