<h3 class="m-t-8">Technologies</h3>
<div class="layout-flex-row">
  <div>
    <h5>Senior</h5>
    <ul class="small">
      <li>React.js class based and modern hooks</li>
      <li>Next.js including app router</li>
      <li>Redux</li>
      <li>TypeScript</li>
      <li>Vanilla JS</li>
      <li>SASS classic and modules</li>
      <li>Tailwind, have also written my own CSS utilities</li>
      <li>Various CSS-in-JS solutions</li>
      <li>HTML + CSS this is my favourite</li>
      <li>HTML email, including dark mode</li>
      <li>Jest and React Testing Library</li>
      <li>Cypress end to end testing</li>
      <li>Git</li>
    </ul>
  </div>
  <div>
    <h5>Mid</h5>
    <ul class="small">
      <li>Bash scripts</li>
      <li>Node scripts</li>
      <li>Express server configuration</li>
      <li>Webpack, ESlint, Babel etc.</li>
    </ul>

    <h5>Junior</h5>
    <ul class="small">
      <li>Databases</li>
      <li>Docker</li>
      <li>Github actions</li>
      <li>Observability, DataDog, Grafana etc.</li>
      <li>PHP within the Symfony framework</li>
      <li>NGNIX configuration</li>
    </ul>
  </div>
</div>
