<h2 class="m-t-10">Work History</h2>

<h6 class="m-t-10">Senior Frontend Engineer</h6>
<p class="small">Jun 2022 - Present</p>
<h3>Lendable</h3>
<ul>
  <li>
    Looking after lendable.co.uk and autolend.co.uk customer facing sites in a
    financialy regulated enviroment.
  </li>
  <li>Designed, developed and maintained features on the Next.js frontend.</li>
  <li>
    Collaborated with product team to design and implement conversion
    optimizations that was a major contibutor to the business unit moving into
    profitability.
  </li>
  <li>
    Contributed to the development of a company-wide design system, ensuring
    seamless integration across all products.
  </li>
  <li>
    Coached more junior engineers to improve their confidence presenting
    technical proposals and comunicating effecitly with product and backend
    teams.
  </li>
</ul>

{#
<p class="small m-t-8">
  I felt I was lagging behind in terms of technical skills. I was worried that
  my skills would fall below what I was paid in the future and then find myself
  stuck.
</p>
#}

<h6 class="m-t-10">Frontend Engineer</h6>
<p class="small">Nov 2019 - May 2022 · 2 yrs 7 mos</p>
<h3>MyBuilder</h3>
<ul>
  <li>
    I used product, design and front-end skills to increase signup of new trade
    members by 5% year on year.
  </li>
  <li>
    Built an Email design system with an intuitive interface allowing
    non-front-end-specialists to work on emails with confidence.
  </li>
  <li>
    Maintenance and development of the core product using: PHP, Symfony 4,
    PHPUnit Twig, Vanilla JS and Less.
  </li>
  <li>
    Created a CSS framework, site and accessible (Symfony) forms in an FCA
    regulated insurance environment. This project was built with Symfony 5,
    Docker, Webpack Encore, SASS, Twig, PHPUnit and Vanilla js.
  </li>
  <li>
    Maintenance of various ReactJS apps throughout the main site. The projects
    are built with: React, CSS-in-JS, Styled Components, Node, Yarn
    (workspaces), Webpack, Jest and the newer ones use Typescript
  </li>
  <li>
    Implemented a design system to be able to share styles between React apps
    and older Symfony systems. Some tech was tried but rejected: Styled System,
    Rebass, a custom rebuild of Styled System in Typescript. The final project
    was delivered using: Tailwind, PostCSS to allow class names to be used
    alongside Styled Components / CSS-in-JS whilst referencing the same core
    design tokens.
  </li>
  <li>
    Built a mini Email design system with PHP - This provides an intuitive
    interface to advanced Email HTML styling techniques allowing
    non-front-end-specialists to work on emails with confidence.
  </li>
  <li>
    I used product design, product ownership, and front-end delivery skills to
    increase a key conversion on a signup journey that put the company into
    profit and exceed shareholders targets.
  </li>
  <li>
    Increased the 'speed' of key SEO pages by 50%
    https://tech.mybuilder.com/get-started-with-web- performance
  </li>
  <li>
    Standardised the configuration variables for 5 react apps to give a common
    way to setup local development
  </li>
</ul>

{#
<p class="small m-t-8">
  I left Objective Manager because I felt I there was no room for growth. This
  small company had an unpleasant senior developer who would make you feel
  stupid whenever you asked for help. So I stopped asking. The owner of the
  company changed the roadmap on a weekly basis which cultivated a sense of
  apathy. Why care about anything when you might throw it away next week?
</p>
#}

<h6 class="m-t-10">Frontend Developer</h6>
<p class="small">Aug 2019 - Nov 2019 · 4 mos</p>
<h3>Objective Manager</h3>
<ul>
  <li>
    Addressed 7 years of CSS tech debt and build a methodology for the team to
    modularise new CSS so they could actually make changes.
  </li>
  <li>Legacy CSS maintenance in a Laravel based backend with vanilla JS.</li>
  <li>
    Long term planning of re-factoring 7yrs of poor quality CSS to a manageable
    structure
  </li>
  <li>
    Implemented a custom Bootstrap 3 build that fit the specific needs of the
    business in a flexible way
  </li>
</ul>

{#
<p class="small m-t-8">
  Things were going well at Fidelity when they restructured their design and
  development departments. My job was moved to China and India, I was given the
  choice of becoming a middle manager or taking the redundancy package. I chose
  to see it as an opportunity to finally pursue my transition to developer.
</p>
#}

<h6 class="m-t-10">Senior UX Designer</h6>
<p class="small">Jun 2016 - Jun 2019 · 3 yrs 1 mo</p>
<h3>Fidelity International</h3>
<ul>
  <li>
    I was instrumental in the re-design of the FundsNetwork advisory investment
    platform which has gone on to win industry awards.
  </li>
  <li>
    I mentored Junior and Mid level UX designers to develop their technical and
    presentation skills.
  </li>
</ul>

{#
<p class="small m-t-8">
  Citi was not a good fit for me. The internal power structures in my opinion
  promoted the wrong people. The unspoken rules to ‘work’ as many hours as
  possible meant I never saw my family got unwell. I handed in my notice without
  another job lined up thinking I would go freelance. I was not successful at
  freelancing and instead found an interesting job closer to home.
</p>
#}

<h6 class="m-t-10">UX Designer</h6>
<p class="small">Sep 2015 - Mar 2016 · 7 mos</p>
<h3>Citi Bank</h3>
<ul>
  <li>
    I was the first person to do user research on the trading floor at CitiBank.
    After an extensive ethnographic study, I designed features for a UI
    responsible for moving billions of dollars per day.
  </li>
</ul>

{#
<p class="small m-t-8">
  After a re-structureing things didn’t feel the same and I had been at Caplin
  for a few years. The idea of working at Citi and being able to walk down to
  the trading floor to talk with the users of the software I was designing was
  appealing.
</p>
#}

<h6 class="m-t-10">UX Designer, Junior UX designer, UX Intern</h6>
<p class="small">May 2013 - Sep 2015 · 2 yrs 5 mos</p>
<h3>Caplin Systems</h3>
<ul>
  <li>
    Designed key product features for the ‘Sales Trader’ product that are still
    part of the key offering 10 years later.
  </li>
</ul>

{#
<p class="small m-t-8">
  I left Cashzone because I won and internship offered through the university. I
  took a large pay cut.
</p>
#}

<h6 class="m-t-10">Artworker</h6>
<p class="small">Jan 2013 - May 2013 · 5 mos</p>
<h3>CashZone</h3>
<ul>
  <li>Working part time to support my part-time Masters degree studies.</li>
  <li>
    Designing vinyl wraps, custom surrounds and points of sale for cash
    machines.
  </li>
</ul>

{#
<p class="small m-t-8">
  I left Wates to study my masters degree in User Experience Design. I was able
  o do this with the financial support of my wife. I took on a part time MA at
  Kinston University and found a job where I could work 4 days a week.
</p>
#}

<h6 class="m-t-10">Junior Graphic Designer</h6>
<p class="small">Mar 2009 - Aug 2012 · 3 yrs 6 mos</p>
<h3>Wates Construction</h3>
<ul>
  <li>
    My favourite part of this job was producing peoples presentations. They came
    to me for ‘just’ PowerPoint and I gave them more speaking confidence by
    listening to their pitches.
  </li>
  <li>Designed, printed and hand-bound tender documents.</li>
</ul>
