<h2 class="m-t-10">Work History</h2>

<h6 class="m-t-10">Senior Frontend Engineer</h6>
<p class="small">Jun 2022 - Present</p>
<h3>Lendable</h3>
<ul>
  <li>
    Helped build and maintain a 'white-label' theme system that supports 5
    different brands.
  </li>
  <li>
    Reduced technical debt by seeking out depreciated features and coordinating
    efforts with backend teams.
  </li>
  <li>
    Working with product, design and backend teams in a financially regulated
    environment.
  </li>
  <li>
    Took on delivery focused management duties which helped balance workload,
    increase collaboration with other teams and ensured smooth delivery of
    multiple projects.
  </li>
  <li>
    Ensured high accessibility standards though use correct HTML and constantly
    evaluating the visual design.
  </li>
  <li>
    Worked with products and design teams to create clear interfaces and wrote
    copy that complies with FCA standards.
  </li>
  <li>
    Designed, developed and maintained features on the Next.js frontend that
    also work across multiple other brands.
  </li>
  <li>
    Contributed to the development of a company-wide design system, ensuring
    seamless integration across all products.
  </li>
  <li>
    Coached junior engineers to improve their confidence presenting technical
    proposals and communicating effecting with product and backend teams.
  </li>
</ul>

<h6 class="m-t-10">Frontend Engineer</h6>
<p class="small">Nov 2019 - May 2022 · 2 yrs 7 mos</p>
<h3>MyBuilder</h3>
<ul>
  <li>
    I used product, design and front-end skills to increase sign-up of new trade
    members by 5% year on year.
  </li>
  <li>
    Built a mini Email design system with PHP - This provides an intuitive
    interface to advanced Email HTML styling techniques allowing
    non-front-end-specialists to work on emails with confidence.
  </li>
  <li>
    Maintenance of various ReactJS apps throughout the main site. The projects
    are built with: React, CSS-in-JS, Styled Components, Node, Yarn
    (workspaces), Webpack, Jest and some Typescript
  </li>
  <li>
    Created a CSS framework, site and accessible (Symfony) forms in an FCA
    regulated insurance environment. This project was built with Symfony 5,
    Docker, Webpack Encore, SASS, Twig, PHPUnit and Vanilla js.
  </li>
  <li>
    Implemented a design system to be able to share styles between React apps
    and older Symfony systems. Some tech was tried but rejected: Styled System,
    Rebass, a custom rebuild of Styled System in Typescript. The final project
    was delivered using: Tailwind, PostCSS to allow class names to be used
    alongside Styled Components / CSS-in-JS whilst referencing the same core
    design tokens.
  </li>
  <li>
    Collaborated with product team to design and implement conversion
    optimizations that was a major contributor to the business unit moving into
    profitability.
  </li>
  <li>
    Increased the 'speed' of key SEO pages by 50%
    https://tech.mybuilder.com/get-started-with-web- performance
  </li>
</ul>

<h6 class="m-t-10">Frontend Developer</h6>
<p class="small">Aug 2019 - Nov 2019 · 4 mos</p>
<h3>Objective Manager</h3>
<ul>
  <li>
    Addressed 7 years of CSS tech debt and build a methodology for the team to
    modularise new CSS so they could actually make changes.
  </li>
  <li>
    Implemented a custom Bootstrap 3 build that fit the specific needs of the
    business in a flexible way
  </li>
</ul>

<h6 class="m-t-10">Senior UX Designer</h6>
<p class="small">Jun 2016 - Jun 2019 · 3 yrs 1 mo</p>
<h3>Fidelity International</h3>
<ul>
  <li>
    I was instrumental in the re-design of the FundsNetwork advisory investment
    platform which has gone on to win industry awards.
  </li>
  <li>
    I mentored Junior and Mid level UX designers to develop their technical and
    presentation skills.
  </li>
</ul>

<h6 class="m-t-10">UX Designer</h6>
<p class="small">Sep 2015 - Mar 2016 · 7 mos</p>
<h3>Citi Bank</h3>
<ul>
  <li>
    I was the first person to do user research on the trading floor at CitiBank.
    After an extensive ethnographic study, I designed features for a UI
    responsible for moving billions of dollars per day.
  </li>
</ul>

<h6 class="m-t-10">UX Designer, Junior UX designer, UX Intern</h6>
<p class="small">May 2013 - Sep 2015 · 2 yrs 5 mos</p>
<h3>Caplin Systems</h3>
<ul>
  <li>
    Designed key product features for the ‘Sales Trader’ product that are still
    part of the key offering 10 years later.
  </li>
</ul>

<h6 class="m-t-10">Artworker</h6>
<p class="small">Jan 2013 - May 2013 · 5 mos</p>
<h3>CashZone</h3>
<ul>
  <li>Working part time to support my part-time Masters degree studies.</li>
  <li>
    Designing vinyl wraps, custom surrounds and points of sale for cash
    machines.
  </li>
</ul>

<h6 class="m-t-10">Junior Graphic Designer</h6>
<p class="small">Mar 2009 - Aug 2012 · 3 yrs 6 mos</p>
<h3>Wates Construction</h3>
<ul>
  <li>
    My favourite part of this job was producing peoples presentations. They came
    to me for ‘just’ PowerPoint and I gave them more speaking confidence by
    listening to their pitches.
  </li>
  <li>Designed, printed and hand-bound tender documents.</li>
</ul>
