.layout-wrap {
    margin: auto;
    padding-left: $space-2;
    padding-right: $space-2;
    @include breakpointWrap('md') {
        padding-left: $space-6;
        padding-right: $space-6;
    }
    @include breakpointWrap('lg') {
        padding-left: $space-7;
        padding-right: $space-7;
    }
}
