.layout-wrap {
    margin: auto;
    padding-left: $space-2-px;
    padding-right: $space-2-px;
    max-width: 480px;
    @include breakpointWrap('md') {
        padding-left: $space-6-px;
        padding-right: $space-6-px;
        max-width: 720px;
    }
    @include breakpointWrap('lg') {
        padding-left: $space-7-px;
        padding-right: $space-7-px;
        max-width: px-to-rem(map-get($breakpoints, 'xl'));
    }
}
