.layout-wrap {
    max-width: px-to-rem(480px);
    margin: auto;
    padding-left: $space-1;
    padding-right: $space-1;
    @include breakpointWrap('md') {
        max-width: px-to-rem(map-get($breakpoints, 'md'));
    }
}