body {
  font-family: 'barlow', sans-serif;
}

@each $breakpointKey, $breakpointValue in $typography-map {
  @include breakpointWrap($breakpointKey) {
    @each $elementKey, $elementValue in $breakpointValue {
      $font-size: map-get($elementValue, fs);

      #{$elementKey},
      .#{$elementKey} {
        font-size: $font-size;
        line-height: line-height-calc($font-size, map-get($elementValue, lh));
        letter-spacing: px-to-em($font-size, map-get($elementValue, ls));
        margin-top: 0;
        margin-bottom: px-to-em($font-size, map-get($elementValue, mb));
      }
    }
  }
}
