:root[data-font-size="smaller"] {
  font-size: 1rem * $type-scale-factor-smaller;
}
:root[data-font-size="larger"] {
  font-size: 1rem * $type-scale-factor-larger;
}
body {
  font-family: "barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  @include styleLike("p");
  li {
    margin-bottom: 0.25em;
  }
}

dl {
  @include styleLike("p");
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: 0;
  }
}

td {
  @include styleLike("p");
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--text-color);
}

a {
  @include styleLike("p");
  margin-bottom: 0;
  color: var(--link-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@each $breakpointKey, $breakpointValue in $typography-map {
  @include breakpointWrap($breakpointKey) {
    @each $elementKey, $elementValue in $breakpointValue {
      #{$elementKey},
      .#{$elementKey} {
        @include styleLikeAtBreakpoint($elementKey, $breakpointKey);
      }
    }
  }
}

h6,
.h6 {
  text-transform: uppercase;
}
