---
title: James Maclean
---

<!doctype html>
<html lang="EN">

    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        {# <meta name="description" content=""> #}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content=""> #}

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="theme-color" content="#f4eeec">
        
        <style>
            {% include "css/main.css" ignore missing %}
        </style>
        <link rel="stylesheet" href="{{ 'css/main.css' }}" type="text/css"/>
    </head>

    <body>

        {% set navPages = collections.all | eleventyNavigation %}
        <nav>
            <ul>
                {%- for entry in navPages %}
                    <li>
                        <a href="{{ entry.url | url }}" {% if entry.url == page.url %} class="active"{% endif %}>{{ entry.title }}</a>
                    </li>
                {%- endfor %}
            </ul>
        </nav>

        <div>{{ content | safe }}</div>

    </body>

</html>