---
title: James Maclean
---

<!doctype html>
<html lang="EN">

    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        {# <meta name="description" content=""> #}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content=""> #}

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="theme-color" content="#f4eeec">
        
        {# <style>
            {% include "css/main.css" ignore missing %}
        </style> #}
        <link rel="stylesheet" href="{{ '/css/main.css' | url }}" type="text/css"/>
        <script src="{{ '/js/accessability-controls.js' | url }}"></script>
    </head>

    <body>
        {% set navPages = collections.all | eleventyNavigation %}
        <nav class="navigation layout-wrap">
            <ul class="navigation__list">
                {%- for entry in navPages %}
                    <li class="navigation__item">
                        <a href="{{ entry.url | url }}" class="navigation__link {% if entry.url == page.url %}navigation__link--active{% endif %}">{{ entry.title }}</a>
                    </li>
                {%- endfor %}
            </ul>
            <div class="navigation__right">
                {% include 'accessibility-controls.njk' %}
            </div>
        </nav>

        <div class="layout-wrap">{{ content | safe }}</div>

    </body>

</html>