$headings-map: (
  sm: (
    h1: 400px,
    h2: 38px,
    h3: 28px,
    h4: 22px,
    h5: 18px,
    p: 16px
  ),
  md: (
    h1: 40px,
    h2: 38px,
    h3: 28px,
    h4: 22px,
    h5: 18px,
    p: 16px
  )
);

@each $headingBPkey, $headingBPVal in $headings-map {
  @include breakpointWrap($headingBPkey) {
    @each $headKey, $headVal in $headingBPVal {
      #{$headKey} {
        font-size: $headVal;
      }
    }
  }
}
