$space-1: 8px;
$space-2: 16px;
$space-3: 20px;
$space-4: 24px;
$space-5: 32px;
$space-6: 40px;
$space-7: 48px;
$space-8: 56px;
$space-9: 64px;
$space-10: 72px;

$space: (
  0: 0,
  1: $space-1,
  2: $space-2,
  3: $space-3,
  4: $space-4,
  5: $space-5,
  6: $space-6,
  7: $space-7,
  8: $space-8,
  9: $space-9,
  10: $space-10
);

@mixin breakpointWrap($screenSize) {
  @if map-get($breakpoints, $screenSize) == 0 {
    @content;
  } @else {
    @media screen and (min-width: map-get($breakpoints, $screenSize)) {
      @content;
    }
  }
}

@each $bpKey, $bpVal in $breakpoints {
  $prefix: "#{$bpKey}--";
  @if $bpVal == 0 {
    $prefix: null;
  }

  @include breakpointWrap($bpKey) {
    @each $sKey, $sVal in $space {
      .#{$prefix}m-#{$sKey} {
        margin: $sVal;
      }
      .#{$prefix}m-b-#{$sKey} {
        margin-bottom: $sVal;
      }
      .#{$prefix}m-t-#{$sKey} {
        margin-top: $sVal;
      }
      .#{$prefix}m-l-#{$sKey} {
        margin-left: $sVal;
      }
      .#{$prefix}m-r-#{$sKey} {
        margin-right: $sVal;
      }

      .#{$prefix}p-#{$sKey} {
        padding: $sVal;
      }
      .#{$prefix}p-b-#{$sKey} {
        padding-bottom: $sVal;
      }
      .#{$prefix}p-t-#{$sKey} {
        padding-top: $sVal;
      }
      .#{$prefix}p-l-#{$sKey} {
        padding-left: $sVal;
      }
      .#{$prefix}p-r-#{$sKey} {
        padding-right: $sVal;
      }
    }
  }
}
