@keyframes slidein {
  from {
    opacity: 0.2;
    transform: translateX(50%);
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateX(0%);
  }
}

.accessibility-control {
  display: inline-block;
  @include breakpointWrap('md') {
    position: relative;
  }

  &__button {
    z-index: 2;
    position: relative;
    background: none;
    appearance: none;
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 0;
    height: space(7);
    width: space(7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 200ms ease;
    @include breakpointWrap('md') {
      height: space(8);
      width: space(8);
    }
    &:hover {
      border-color: var(--link-color);
    }
    &:active,
    &[data-active="true"] {
      border-color: var(--text-color);
    }

    &-icon {
      &--text {
        @include styleLikeAtBreakpoint('h3', 'sm');
        margin-top: -0.125em;
        margin-bottom: 0;
      }

    }
    &-label {
      display: none;
    }
  }
  &__panel {
    z-index: 2;
    min-width: 200px;
    padding: 1em;
    position: absolute;
    right: 0;
    will-change: opacity, transform;
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 400ms;

    &[aria-hidden="true"] {
      transform: translateX(100%);
      opacity: 0;
      pointer-events: none;
      &.invisible {
        visibility: hidden;
      }
    }
  }
  &__modal {
    border-radius: px-to-rem(12px);
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: space(3);
    position: relative;
  }
  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    appearance: none;
    border: none;
    background-color: transparent;
    padding: space(2);
  }
  &__fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  &__legend {
    @include styleLike('h5');
  }
  &__input-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-right: space(2) * -1;
  }
  &__input-wrap {
    margin-right: space(2);
    margin-bottom: space(2);
  }
  &__input {
    opacity: 0.2;
    position: absolute;
    &:checked + label .accessibility-control__fake-input {
      border-color: var(--purple-400);
      border-width: 2px;
      position: relative;
      &::after {
        position: absolute;
        content: '\2713';
        top: 0;
        right: 0;
        height: space(2);
        width: space(2);
        background-color: var(--purple-400);
        color: var(--white);
        border-bottom-left-radius: px-to-rem(8px);
      }
    }
  }
  &__label {
    display: block;
    width: 100%;
  }
  &__fake-input {
    height: px-to-rem(96px);
    width: px-to-rem(96px);
    border: 1px solid var(--purple-100);
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
    padding: space(2);
    border-radius: px-to-rem(8px);
  }
  &__preview-text {
    width: 10em;
    display: block;
    &--smaller {
      @include styleLikeAtBreakpoint('p', 'sm');
      font-size: map-get(map-get(map-get($typography-map, 'sm'), 'p'), 'fs') * $type-scale-factor-smaller;
      @include breakpointWrap('md') {
        @include styleLikeAtBreakpoint('p', 'md');
        font-size: map-get(map-get(map-get($typography-map, 'md'), 'p'), 'fs') * $type-scale-factor-smaller;
      }
    }
    &--auto {
      @include styleLikeAtBreakpoint('p', 'sm');
      font-size: map-get(map-get(map-get($typography-map, 'sm'), 'p'), 'fs') * $type-scale-factor-auto;
      @include breakpointWrap('md') {
        @include styleLikeAtBreakpoint('p', 'md');
        font-size: map-get(map-get(map-get($typography-map, 'md'), 'p'), 'fs') * $type-scale-factor-auto;
      }
    }
    &--larger {
      @include styleLikeAtBreakpoint('p', 'sm');
      font-size: map-get(map-get(map-get($typography-map, 'sm'), 'p'), 'fs') * $type-scale-factor-larger;
      @include breakpointWrap('md') {
        @include styleLikeAtBreakpoint('p', 'md');
        font-size: map-get(map-get(map-get($typography-map, 'md'), 'p'), 'fs') * $type-scale-factor-larger;
      }
    }
  }
  &__fake-label {
    text-align: center;
    display: block;
  }
}

.overlay-screen {
  z-index: 1;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  transition: opacity 200ms ease;
  &[aria-hidden="true"] {
    opacity: 0;
    pointer-events: none;
  }
}