$breakpoints: (
  sm: 0px,
  md: 640px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1440px
);

$space-1: 8px;
$space-2: 16px;
$space-3: 20px;
$space-4: 24px;
$space-5: 32px;
$space-6: 40px;
$space-7: 48px;
$space-8: 56px;
$space-9: 64px;
$space-10: 72px;

$space: (
  0: 0,
  1: $space-1,
  2: $space-2,
  3: $space-3,
  4: $space-4,
  5: $space-5,
  6: $space-6,
  7: $space-7,
  8: $space-8,
  9: $space-9,
  10: $space-10
);

$rem-base: 16px;
$sm-lh: 26px;
$md-lh: 28px;
/* prettier-ignore */
$typography-map: (
  sm: (
    h1:    (fs: 40px, lh: $sm-lh*2,   ls: -0.67px, mb: $sm-lh*2,  ),
    h2:    (fs: 32px, lh: $sm-lh*1.5, ls: 0px,       mb: $sm-lh*1.5,),
    h3:    (fs: 28px, lh: $sm-lh*1.5, ls: 0,       mb: $sm-lh*1.5,),
    h4:    (fs: 24px, lh: $sm-lh*1.5, ls: 0,       mb: $sm-lh*1.5,),
    h5:    (fs: 18px, lh: $sm-lh,     ls: 0,       mb: $sm-lh,    ),
    h6:    (fs: 16px, lh: $sm-lh,     ls: 0,       mb: $sm-lh,    ),
    p:     (fs: 16px, lh: $sm-lh,     ls: 0,       mb: $sm-lh,    ),
    small: (fs: 13px, lh: 20px,       ls: 0,       mb: 20px,      ),
  ),
  md: (
    h1:    (fs: 48px, lh: $md-lh*2,   ls: -0.67px, mb: $md-lh*2,  ),
    h2:    (fs: 38px, lh: $md-lh*1.5, ls: 0px,       mb: $md-lh*1.5,),
    h3:    (fs: 32px, lh: $md-lh*1.5, ls: 0,       mb: $md-lh*1.5,),
    h4:    (fs: 26px, lh: $md-lh*1.5, ls: 0,       mb: $md-lh*1.5,),
    h5:    (fs: 22px, lh: $md-lh,     ls: 0,       mb: $md-lh,    ),
    h6:    (fs: 18px, lh: $md-lh,     ls: 0,       mb: $md-lh,    ),
    p:     (fs: 18px, lh: $md-lh,     ls: 0,       mb: $md-lh,    ),
    small: (fs: 15px, lh: 22px,       ls: 0,       mb: 22px,      ),
  )
);