<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
    <g style="fill: none;stroke: currentColor; stroke-linecap: round; stroke-linejoin: round; stroke-width: inherit;">
        <line x1="1" y1="1" x2="15" y2="15"/>
        <line x1="1" y1="15" x2="15" y2="1"/>
    </g>
</svg>