<svg id="arrow" class="tick-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 10"><defs><style>.cls-1{fill:none;stroke:#7200ca;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs>
    <polyline style="fill: none;stroke: currentColor; stroke-linecap: round; stroke-linejoin: round; stroke-width: inherit;" class="cls-1" points="1 5 4 9 10 1"/>
</svg>