@mixin breakpointWrap($screenSize) {
  @if map-get($breakpoints, $screenSize) == 0 {
    @content;
  } @else {
    @media screen and (min-width: map-get($breakpoints, $screenSize)) {
      @content;
    }
  }
}

@mixin styleLikeAtBreakpoint($element, $breakpoint) {
  $element-value: map-get(map-get($typography-map, $breakpoint), $element);
  $font-size: map-get($element-value, fs);

  font-size: px-to-rem($font-size);
  line-height: line-height-calc($font-size, map-get($element-value, lh));
  letter-spacing: px-to-em($font-size, map-get($element-value, ls));
  font-weight: map-get($element-value, fw);
  margin-bottom: map-get($element-value, mb);
}

@mixin styleLike($element) {
  @each $breakpoint-key, $breakpoint-val in $typography-map {
    @include breakpointWrap($breakpoint-key) {
      @include styleLikeAtBreakpoint($element, $breakpoint-key);
    }
  }
}
