---
layout: layouts/main.njk
title: Contact
eleventyNavigation:
  key: Contact
  order: 3
---

<h1 class="m-b-4 md--m-b-8">{{ title }}</h1>
<h3>Social links:</h2>
<ul class="m-b-4 md--m-b-8">
  <li>
    <a href="https://codepen.io/jqim">Codepen</a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/jamesmacleanjqim"
      target="_blank"
      rel="noopener noreferrer"
      >
          LinkedIn
      </a>
  </li>
</ul>

<h3>TODO:</h3>
<ol>
  <li>Add CV PDF download</li>
  <li>Add email address but hide it from bots</li>
  <li>Phone number? no too far</li>
</ol>