---
layout: layouts/main.njk
title: Contact
eleventyNavigation:
  key: Contact
  order: 3
---    

<h1>{{ title }}</h1>    
<a
href="https://www.linkedin.com/in/jamesmacleanjqim"
target="_blank"
rel="noopener noreferrer"
>
    LinkedIn
</a>