---
layout: layouts/main.njk
title: CV
---

<h1 class="m-t-6 m-b-1">James Maclean</h1>
<p class="m-b-8">Designer and Developer</p>


<h2 class="m-t-8">Design skills</h3>

<p class="large">
  I see the developer portion of my career as a secret continuation of my design
  work.
</p>

<p>
  The initial urge to start coding was borne out of frustration with my designs
  being implemented poorly. In hindsight I realise that what I had in my head
  went way beyond static visuals, most of which was lost when I handed my work
  over to the dev team.
</p>

<h4>Designing as a developer</h4>
<p>
  As a frontend dev I continue to solve user problems and apply my design
  skills, its just the tools and others perception of my work is different.
  Where I work today I am responsible for the look and feel of lendable.co.uk,
  autolend.co.uk and 3 other 'white label' sites that use the same react code
  but with different branding. Managing these 5 styles is a constant compromise
  between technical feasibility and maintaining each ones visual integrity. I
  play an active part in designing the more complex components and flows. I work
  with some great designers and have at times given them tips on how to present
  their work.
</p>

<h4>My favourites</h4>

<p>
  The areas of design I'm best at are classic 'Interaction Design' and
  Typesetting. I know which controls are appropriate for a given interaction and
  why. How the sometimes the context of a control changes what people expect it
  to do. I also did an hour long talk about the history of typography from
  ancient Sumer to the modern era to an audience of backend devs and product
  people. (and no one fell asleep! I even got questions).
</p>

<h4>My Modus Operandi (MO)</h4>
<p>
  When working on a new problem I focus on the context. The first thing I do is
  sit down with some (often from product) and write fragments of text that
  represent the content of a UI. I take the fragments and arrange them into
  flows, then I take that away to produce wireframes. Occasionally I will do a
  high fidelity design but this is increasingly rare as I prefer to take the
  design into code and then review it with another designer to apply the final
  polish.
</p>

<h2 class="m-t-8">Development skills</h2>

<p>
  Today I work with React.js, Next.js, Redux at a senior level. I’m an expert
  with CSS and HTML and can achieve pixel perfect results with performant
  animations. I'm also passionate about writing code that others can read and
  maintain. A well written .tsx file should tell a story about the intentions of
  the code and the developer.
</p>

{% include "skills.njk" %}

<h3 class="m-t-8">My mantras</h3>
<p>These describe my personal approach to writing code in team and also give a flavour of what it's like to work with me.</p>

{% include "mantras.njk" %}

{% include "work-history.njk" %}
