---
layout: layouts/main.njk
title: CV
---

<h1>James Maclean</h1>

<p>Senior frontend developer with UX design experience.</p>

<h3 class="m-t-8">Technologies</h3>
<div class="layout-flex-row">
  <div>
    <h4>Senior</h4>
    <ul>
      <li>React.js class based and modern hooks</li>
      <li>Next.js including app router</li>
      <li>Redux</li>
      <li>TypeScript</li>
      <li>Vanilla JS</li>
      <li>SASS classic and modules</li>
      <li>Tailwind, have also written my own CSS utilities</li>
      <li>Various CSS-in-JS solutions</li>
      <li>HTML + CSS this is my favourite</li>
      <li>HTML email, including dark mode</li>
      <li>Jest and React Testing Library</li>
      <li>Cypress end to end testing</li>
      <li>Git</li>
    </ul>
  </div>
  <div>
    <h4>Mid</h4>
    <ul>
      <li>Bash scripts</li>
      <li>Node scripts</li>
      <li>Express server configuration</li>
      <li>Webpack, ESlint, Babel etc.</li>
    </ul>

    <h4>Junior</h4>
    <ul>
      <li>Databases</li>
      <li>Docker</li>
      <li>Github actions</li>
      <li>Observability, DataDog, Grafana etc.</li>
      <li>PHP within the Symfony framework</li>
      <li>NGNIX configuration</li>
    </ul>
  </div>
</div>

{% include "work-history.njk" %}

<div class="p-t-10 p-b-10"></div>
