---
layout: layouts/main.njk
title: CV
---

<h1>James Maclean</h1>

<p>
  Senior frontend developer with UX design experience. I work best in
  collaborative environments and like to develop a deep product knowledge and
  used it to inform technical decisions.
</p>
<p>
  I have a strong grasp of frontend fundamentals (HTML, CSS, JS) and use that to
  create effective solutions in React.js and Next.js.
</p>
{% include "skills.njk" %} {% include "work-history.njk" %}

<div class="p-t-10 p-b-10"></div>
