---
layout: layouts/main.njk
title: CV
---

<h1>James Maclean</h1>

<h3>The type of work I do</h3>

<p>
  I like to work on user focused and people focused front-end work. I find that
  by understanding the subject matter, code, business needs and the people first
  I find the solutions seem to write themselves.
</p>

<p>
  I draw on my broad experience to create efficient solutions. For example there
  was a user journey that contained buggy and hard to maintain code. Whilst most
  the frontend developers where focused on the technical challenge I saw that by
  moving some content out of a second modal that we not only could delete
  offending code but also stop inflicting an interaction anti-pattern on our
  users.
</p>

<h3 class="m-t-8">Technologies</h3>
<h4>Senior</h4>
<ul>
  <li>React.js class based and modern hooks</li>
  <li>Next.js including app router</li>
  <li>Redux</li>
  <li>TypeScript</li>
  <li>Vanilla JS</li>
  <li>SASS classic and modules</li>
  <li>Tailwind, have also written my own CSS utilities</li>
  <li>Various CSS-in-JS solutions</li>
  <li>HTML + CSS this is my favourite</li>
  <li>HTML email, including dark mode</li>
  <li>Jest and React Testing Library</li>
  <li>Cypress end to end testing</li>
  <li>Git</li>
</ul>

<h4>Mid</h4>
<ul>
  <li>Bash scripts</li>
  <li>Node scripts</li>
  <li>Express server configuration</li>
  <li>Webpack, ESlint, Babel etc.</li>
</ul>

<h4>Junior</h4>
<ul>
  <li>Databases</li>
  <li>Docker</li>
  <li>Github actions</li>
  <li>Observability, DataDog, Grafana etc.</li>
  <li>PHP within the Symfony framework</li>
  <li>NGNIX configuration</li>
</ul>

<p>
  Today I work with React.js, Next.js, Redux at a senior level. I’m an expert
  with CSS and HTML and can achieve pixel perfect results with performant
  animations. Having a background in design means I am sensitive to the details
  of design/UX and can act as an extra design resource when needed.
</p>

<p>I’m happy to mentor and coach junior developers and UX designers.</p>

<h3 class="m-t-8">What I’m looking for</h3>
<h4>Remote work</h4>
<p>
  I’m looking for 80-99% remote work. (Max. 1 day per week in London). I’m Also
  interested in 4 day weeks and 9 day fortnights.
</p>
<p>
  Ultimately I am looking for a position where I can continue to care for my
  children and parents around Milton Keynes.
</p>

<h4 class="m-t-6">The type of work environment I enjoy</h4>
<p>
  Clear goals and the autonomy to pursue them with friendly people who are
  excited to get stuff done. I also believe that good written communication is
  necessary for effective remote work.
</p>

<h3 class="m-t-8">How long have I been writing code?</h3>
<p>
  I was mostly focused on design until 2018 but as far back as 2009 I was doing
  bits of HTML and CSS with some jQuery to make prototypes at first then to
  deliver UI components I had designed. I got my first proper developer job in
  2019 at mid-level and quickly progressed to senior.
</p>

{#
<p>
  I started my career in print design just after the global financial crisis.
  After a year or so I realised my path didn’t have the brightest of futures. I
  had been building and debugging my own gaming PCs since I was 12 so I thought
  I should lean towards that passion a little.
</p>
#} {#
<p>
  The approach I took to delivering the print work was to ‘program’ the styles
  in Adobe InDesign. I would spend most the time setting up templates and styles
  that would (almost) automatically lay the document out when the content
  arrived on my desk. There is a lot in common to what I did back then to modern
  ‘design systems’.
</p>
#} {#
<p>
  In 2009 I used dreamweaver to create an HTML interface for a CD-ROM filled
  with pdf documents. Around 2012 I started to write production ready CSS and
  used jQuery to make clickable prototypes with my photoshop designs. By 2016 I
  was helping out the development team by working on the Backbone.js project no
  one had time for.
</p>
#}

<p>
  In 2019 I used a redundancy as the drive to 'go pro' and spend a month
  studying then got my first proper developer job.
</p>

<h3 class="m-t-8">My mantras</h3>

{% include "mantras.njk" %}

<h4 class="m-t-8">Things I struggle with:</h4>
<p>Details.</p>
<p>
  I am dyslexic, this means I am bad at spotting small details but very good at
  seeing the bigger picture and extrapolating form incomplete data. I won’t spot
  a typo but I will be able to tell when a problem you face is similar to
  something another team are working on. I won’t see the arithmetic error but I
  enjoy discussing macro-economics.
</p>

{% include "work-history.njk" %}

<div class="p-t-10 p-b-10"></div>
