---
layout: layouts/full.njk
title: NV
---

<table class="va-table va-table-full va-table-shaded sortable jquery-tablesorter">
    <thead>
        <tr>
            <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Name
</th>
            <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Level req
</th>
            <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Other requirements
</th>
            <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Ranks
</th>
            <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Benefit
</th>
            <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Form ID
</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="/wiki/Black_Widow_(Fallout:_New_Vegas)" title="Black Widow (Fallout: New Vegas)">Black Widow</a>
            </td>
            <td>2</td>
            <td>Female PC
</td>
            <td>1
</td>
            <td>+10% damage to the opposite sex and unique dialogue options with certain characters.
</td>
            <td>
                <span class="va-formid">00094EB9</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Lady_Killer_(Fallout:_New_Vegas)" title="Lady Killer (Fallout: New Vegas)">Lady Killer</a>
            </td>
            <td>2</td>
            <td>Male PC
</td>
            <td>1
</td>
            <td>+10% damage to the opposite sex and unique dialogue options with certain characters.
</td>
            <td>
                <span class="va-formid">00094EB9</span>
            </td>
        </tr>
        <tr>
            <td nowrap="">
                <a href="/wiki/Cherchez_La_Femme" title="Cherchez La Femme">Cherchez La Femme</a>
            </td>
            <td>2
</td>
            <td>Female PC
</td>
            <td>1
</td>
            <td>+10% damage to the same sex and unique dialogue options with certain characters.
</td>
            <td>
                <span class="va-formid">001361B3</span>
            </td>
        </tr>
        <tr>
            <td nowrap="">
                <a href="/wiki/Confirmed_Bachelor" title="Confirmed Bachelor">Confirmed Bachelor</a>
            </td>
            <td>2
</td>
            <td>Male PC
</td>
            <td>1
</td>
            <td>+10% damage to the same sex and unique dialogue options with certain characters.
</td>
            <td>
                <span class="va-formid">001361B4</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Friend_of_the_Night" title="Friend of the Night">Friend of the Night</a>
            </td>
            <td>2
</td>
            <td>
                <a href="/wiki/Perception" title="Perception">PE</a> 6, <a href="/wiki/Sneak_(Fallout:_New_Vegas)" title="Sneak (Fallout: New Vegas)">Sneak</a> 30
</td>
            <td>1
</td>
            <td>Your eyes adapt quickly to low-light conditions.
</td>
            <td>
                <span class="va-formid">00165118</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Heave,_Ho!_(Fallout:_New_Vegas)" title="Heave, Ho! (Fallout: New Vegas)">Heave, Ho!</a>
            </td>
            <td>2
</td>
            <td>
                <a href="/wiki/Strength" title="Strength">ST</a> 5, <a href="/wiki/Explosives_(Fallout:_New_Vegas)" title="Explosives (Fallout: New Vegas)">Explosives</a> 30
</td>
            <td>1
</td>
            <td>+50% thrown weapon velocity and range.
</td>
            <td>
                <span class="va-formid">0014609C</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Hunter_(perk)" title="Hunter (perk)">Hunter</a>
            </td>
            <td>2
</td>
            <td>
                <a href="/wiki/Survival_(Fallout:_New_Vegas)" title="Survival (Fallout: New Vegas)">Survival</a> 30
</td>
            <td>1
</td>
            <td>In combat, you do 75% more critical damage against animals and mutated animals.
</td>
            <td>
                <span class="va-formid">00135F18</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Intense_Training_(Fallout:_New_Vegas)" title="Intense Training (Fallout: New Vegas)">Intense Training</a>
            </td>
            <td>2
</td>
            <td></td>
            <td>10
</td>
            <td>You can put a single point into any of your <a href="/wiki/Fallout:_New_Vegas_SPECIAL" title="Fallout: New Vegas SPECIAL">SPECIAL</a> attributes.
</td>
            <td>
                <span class="va-formid">00044CB1</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Rapid_Reload" title="Rapid Reload">Rapid Reload</a>
            </td>
            <td>2
</td>
            <td>
                <a href="/wiki/Agility" title="Agility">AG</a> 5, <a href="/wiki/Guns" title="Guns">Guns</a> 30
</td>
            <td>1
</td>
            <td>All of your weapon reloads are 25% faster than normal.
</td>
            <td>
                <span class="va-formid">001377FD</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Retention" title="Retention">Retention</a>
            </td>
            <td>2
</td>
            <td>
                <a href="/wiki/Intelligence" title="Intelligence">IN</a> 5
</td>
            <td>1
</td>
            <td>Skill magazines last for 3 real-time minutes.
</td>
            <td>
                <span class="va-formid">0010F09E</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Swift_Learner_(Fallout:_New_Vegas)" title="Swift Learner (Fallout: New Vegas)">Swift Learner</a>
            </td>
            <td>2
</td>
            <td>
                <a href="/wiki/Intelligence" title="Intelligence">IN</a> 4
</td>
            <td>3
</td>
            <td>You gain an additional 10% whenever experience points are earned.
</td>
            <td>
                <span class="va-formid">00031DD3</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Cannibal_(Fallout:_New_Vegas)" title="Cannibal (Fallout: New Vegas)">Cannibal</a>
            </td>
            <td>4
</td>
            <td></td>
            <td>1
</td>
            <td>When you're in Sneak mode, you gain the option to eat a human corpse to regain hit points, but lose Karma.
</td>
            <td>
                <span class="va-formid">00094EBC</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Comprehension_(Fallout:_New_Vegas)" title="Comprehension (Fallout: New Vegas)">Comprehension</a>
            </td>
            <td>4
</td>
            <td>
                <a href="/wiki/Intelligence" title="Intelligence">IN</a> 4
</td>
            <td>1
</td>
            <td>You gain one additional skill point for reading books and double the skill points for reading magazines.
</td>
            <td>
                <span class="va-formid">00031DE1</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Educated_(Fallout:_New_Vegas)" title="Educated (Fallout: New Vegas)">Educated</a>
            </td>
            <td>4
</td>
            <td>
                <a href="/wiki/Intelligence" title="Intelligence">IN</a> 4
</td>
            <td>1
</td>
            <td>You gain two more skill points every time you advance in level.
</td>
            <td>
                <span class="va-formid">00031DD8</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Entomologist_(Fallout:_New_Vegas)" title="Entomologist (Fallout: New Vegas)">Entomologist</a>
            </td>
            <td>4
</td>
            <td>
                <a href="/wiki/Intelligence" title="Intelligence">IN</a> 4, <a href="/wiki/Survival_(Fallout:_New_Vegas)" title="Survival (Fallout: New Vegas)">Survival</a> 45
</td>
            <td>1
</td>
            <td>You do an additional 50% damage every time you attack a mutated insect.
</td>
            <td>
                <span class="va-formid">00031DD9</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Rad_Child_(Fallout:_New_Vegas)" title="Rad Child (Fallout: New Vegas)">Rad Child</a>
            </td>
            <td>4
</td>
            <td>
                <a href="/wiki/Survival_(Fallout:_New_Vegas)" title="Survival (Fallout: New Vegas)">Survival</a> 70
</td>
            <td>1
</td>
            <td>Regenerate 2 HP per second per 200 rads accumulated.
</td>
            <td>
                <span class="va-formid">001656FD</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Run_%27n_Gun" title="Run 'n Gun">Run 'n Gun</a>
            </td>
            <td>4
</td>
            <td>
                <a href="/wiki/Guns" title="Guns">Guns</a> 45 or <a href="/wiki/Energy_Weapons_(Fallout:_New_Vegas)" title="Energy Weapons (Fallout: New Vegas)">Energy Weapons</a> 45
</td>
            <td>1
</td>
            <td>Halved spread with one-handed ranged weapons while walking or running.
</td>
            <td>
                <span class="va-formid">0014609D</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Travel_Light" title="Travel Light">Travel Light</a>
            </td>
            <td>4
</td>
            <td>
                <a href="/wiki/Survival_(Fallout:_New_Vegas)" title="Survival (Fallout: New Vegas)">Survival</a> 45
</td>
            <td>1
</td>
            <td>While wearing light armor or no armor, you run 10% faster.
</td>
            <td>
                <span class="va-formid">00146096</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Bloody_Mess_(Fallout:_New_Vegas)" title="Bloody Mess (Fallout: New Vegas)">Bloody Mess</a>
            </td>
            <td>6
</td>
            <td></td>
            <td>1
</td>
            <td>+5% overall damage; more violent death animations.
</td>
            <td>
                <span class="va-formid">00094EBA</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Demolition_Expert_(Fallout:_New_Vegas)" title="Demolition Expert (Fallout: New Vegas)">Demolition Expert</a>
            </td>
            <td>6
</td>
            <td>
                <a href="/wiki/Explosives_(Fallout:_New_Vegas)" title="Explosives (Fallout: New Vegas)">Explosives</a> 50
</td>
            <td>3
</td>
            <td>+20% damage with explosives.
</td>
            <td>
                <span class="va-formid">00031DAB</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Ferocious_Loyalty" title="Ferocious Loyalty">Ferocious Loyalty</a>
            </td>
            <td>6
</td>
            <td>
                <a href="/wiki/Charisma" title="Charisma">CH</a> 6
</td>
            <td>1
</td>
            <td>When you drop below 50% <a href="/wiki/Hit_Points" title="Hit Points">HP</a>, companions gain +50 <a href="/wiki/Damage_Resistance" title="Damage Resistance">DR</a>.
</td>
            <td>
                <span class="va-formid">00165180</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Fortune_Finder_(Fallout:_New_Vegas)" title="Fortune Finder (Fallout: New Vegas)">Fortune Finder</a>
            </td>
            <td>6
</td>
            <td>
                <a href="/wiki/Luck" title="Luck">LU</a> 5
</td>
            <td>1
</td>
            <td>Considerably more <a href="/wiki/Bottle_cap_(Fallout:_New_Vegas)" title="Bottle cap (Fallout: New Vegas)">bottle caps</a> will be found in stockpiles.
</td>
            <td>
                <span class="va-formid">00031DE3</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Gunslinger_(Fallout:_New_Vegas)" title="Gunslinger (Fallout: New Vegas)">Gunslinger</a>
            </td>
            <td>6
</td>
            <td></td>
            <td>1
</td>
            <td>+25% accuracy in V.A.T.S. with one-handed weapons.
</td>
            <td>
                <span class="va-formid">00094EBB</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Hand_Loader" title="Hand Loader">Hand Loader</a>
            </td>
            <td>6
</td>
            <td>
                <a href="/wiki/Repair_(Fallout:_New_Vegas)" title="Repair (Fallout: New Vegas)">Repair</a> 70
</td>
            <td>1
</td>
            <td>When using Guns, you are twice as likely to recover cases and hulls. You also have all hand load recipes unlocked at any reloading benches.
</td>
            <td>
                <span class="va-formid">0016581B</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Lead_Belly" title="Lead Belly">Lead Belly</a>
            </td>
            <td>6
</td>
            <td>
                <a href="/wiki/Endurance" title="Endurance">EN</a> 5
</td>
            <td>1
</td>
            <td>-50% radiation taken from food and water sources.
</td>
            <td>
                <span class="va-formid">00044CA9</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Shotgun_Surgeon_(Fallout:_New_Vegas)" title="Shotgun Surgeon (Fallout: New Vegas)">Shotgun Surgeon</a>
            </td>
            <td>6
</td>
            <td>
                <a href="/wiki/Guns" title="Guns">Guns</a> 45
</td>
            <td>1
</td>
            <td>When using shotguns, regardless of ammunition used, you ignore an additional 10 points of a target's <a href="/wiki/Damage_Threshold" title="Damage Threshold">Damage Threshold</a>.
</td>
            <td>
                <span class="va-formid">0016578B</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/The_Professional" title="The Professional">The Professional</a>
            </td>
            <td>6
</td>
            <td>
                <a href="/wiki/Sneak_(Fallout:_New_Vegas)" title="Sneak (Fallout: New Vegas)">Sneak</a> 70
</td>
            <td>1
</td>
            <td>Your <a href="/wiki/Sneak_Attack_Critical" title="Sneak Attack Critical">Sneak Attack Criticals</a> with revolvers, pistols, and submachine guns (guns and energy weapons) all inflict an additional 20% damage.
</td>
            <td>
                <span class="va-formid">00165AEC</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Toughness_(Fallout:_New_Vegas)" title="Toughness (Fallout: New Vegas)">Toughness</a>
            </td>
            <td>6
</td>
            <td>
                <a href="/wiki/Endurance" title="Endurance">EN</a> 5
</td>
            <td>2
</td>
            <td>+3 <a href="/wiki/Damage_Threshold" title="Damage Threshold">DT</a> permanently.
</td>
            <td>
                <span class="va-formid">00031DE0</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Vigilant_Recycler" title="Vigilant Recycler">Vigilant Recycler</a>
            </td>
            <td>6
</td>
            <td>
                <a href="/wiki/Science_(Fallout:_New_Vegas)" title="Science (Fallout: New Vegas)">Science</a> 70
</td>
            <td>1
</td>
            <td>When using Energy Weapons, you are twice as likely to recover drained ammunition. You also have more efficient recycling recipes available at workbenches.
</td>
            <td>
                <span class="va-formid">00165816</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Commando_(Fallout:_New_Vegas)" title="Commando (Fallout: New Vegas)">Commando</a>
            </td>
            <td>8
</td>
            <td></td>
            <td>1
</td>
            <td>+25% accuracy in V.A.T.S. with two-handed weapons.
</td>
            <td>
                <span class="va-formid">00099828</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Cowboy_(Fallout:_New_Vegas)" title="Cowboy (Fallout: New Vegas)">Cowboy</a>
            </td>
            <td>8
</td>
            <td>
                <a href="/wiki/Guns" title="Guns">Guns</a> 45, <a href="/wiki/Melee_Weapons_(Fallout:_New_Vegas)" title="Melee Weapons (Fallout: New Vegas)">Melee</a> 45
</td>
            <td>1
</td>
            <td>+25% damage done by dynamite, hatchets, knives, revolvers, and lever-action guns.
</td>
            <td>
                <span class="va-formid">00138562</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Living_Anatomy_(Fallout:_New_Vegas)" title="Living Anatomy (Fallout: New Vegas)">Living Anatomy</a>
            </td>
            <td>8
</td>
            <td>
                <a href="/wiki/Medicine_(Fallout:_New_Vegas)" title="Medicine (Fallout: New Vegas)">Medicine</a> 70
</td>
            <td>1
</td>
            <td>Shows health and Damage Threshold of any target. +5% bonus to damage against humans and non-feral ghouls.
</td>
            <td>
                <span class="va-formid">00146099</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Pack_Rat_(Fallout:_New_Vegas)" title="Pack Rat (Fallout: New Vegas)">Pack Rat</a>
            </td>
            <td>8
</td>
            <td>
                <a href="/wiki/Intelligence" title="Intelligence">IN</a> 5, <a href="/wiki/Barter_(Fallout:_New_Vegas)" title="Barter (Fallout: New Vegas)">Barter</a> 70
</td>
            <td>1
</td>
            <td>Items with a weight of two pounds or less now weigh half as much.
</td>
            <td>
                <span class="va-formid">0014609B</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Quick_Draw" title="Quick Draw">Quick Draw</a>
            </td>
            <td>8
</td>
            <td>
                <a href="/wiki/Agility" title="Agility">AG</a> 5
</td>
            <td>1
</td>
            <td>Makes weapon equipping and holstering 50% faster.
</td>
            <td>
                <span class="va-formid">001377FE</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Rad_Resistance_(Fallout:_New_Vegas)" title="Rad Resistance (Fallout: New Vegas)">Rad Resistance</a>
            </td>
            <td>8
</td>
            <td>
                <a href="/wiki/Endurance" title="Endurance">EN</a> 5, <a href="/wiki/Survival_(Fallout:_New_Vegas)" title="Survival (Fallout: New Vegas)">Survival</a> 40
</td>
            <td>1
</td>
            <td>+25% radiation resistance permanently.
</td>
            <td>
                <span class="va-formid">00031DA9</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Scrounger_(Fallout:_New_Vegas)" title="Scrounger (Fallout: New Vegas)">Scrounger</a>
            </td>
            <td>8
</td>
            <td>
                <a href="/wiki/Luck" title="Luck">LU</a> 5
</td>
            <td>1
</td>
            <td>Considerably more ammunition in stockpiles.
</td>
            <td>
                <span class="va-formid">00031DAA</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Stonewall_(Fallout:_New_Vegas)" title="Stonewall (Fallout: New Vegas)">Stonewall</a>
            </td>
            <td>8
</td>
            <td>
                <a href="/wiki/Strength" title="Strength">ST</a> 6, <a href="/wiki/Endurance" title="Endurance">EN</a> 6
</td>
            <td>1
</td>
            <td>+5 <a href="/wiki/Damage_Threshold" title="Damage Threshold">DT</a> against melee and unarmed attacks and cannot be knocked down during combat.
</td>
            <td>
                <span class="va-formid">00165449</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Strong_Back_(Fallout:_New_Vegas)" title="Strong Back (Fallout: New Vegas)">Strong Back</a>
            </td>
            <td>8
</td>
            <td>
                <a href="/wiki/Strength" title="Strength">ST</a> 5, <a href="/wiki/Endurance" title="Endurance">EN</a> 5
</td>
            <td>1
</td>
            <td>+50 <a href="/wiki/Carry_Weight" title="Carry Weight">Carry Weight</a>.
</td>
            <td>
                <span class="va-formid">00031DDE</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Super_Slam!" title="Super Slam!">Super Slam!</a>
            </td>
            <td>8
</td>
            <td>
                <a href="/wiki/Strength" title="Strength">ST</a> 6, <a href="/wiki/Melee_Weapons_(Fallout:_New_Vegas)" title="Melee Weapons (Fallout: New Vegas)">Melee Weapons</a> 45
</td>
            <td>1
</td>
            <td>All melee (except thrown) and unarmed attacks have a chance of knocking your target down. 15% for Unarmed or one-handed melee, 30% for two-handed melee.
</td>
            <td>
                <span class="va-formid">0014609E</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Terrifying_Presence_(Fallout:_New_Vegas)" title="Terrifying Presence (Fallout: New Vegas)">Terrifying Presence</a>
            </td>
            <td>8
</td>
            <td>
                <a href="/wiki/Speech_(Fallout:_New_Vegas)" title="Speech (Fallout: New Vegas)">Speech</a> 70
</td>
            <td>1
</td>
            <td>Can intimidate foes through dialogue; closing dialogue results in the foe fleeing for 5 seconds.
</td>
            <td>
                <span class="va-formid">0010C6CD</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Here_and_Now_(Fallout:_New_Vegas)" title="Here and Now (Fallout: New Vegas)">Here and Now</a>
            </td>
            <td>10
</td>
            <td></td>
            <td>1
</td>
            <td>You instantly level up again.
</td>
            <td>
                <span class="va-formid">00031DAC</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Animal_Friend_(Fallout:_New_Vegas)" title="Animal Friend (Fallout: New Vegas)">Animal Friend</a>
            </td>
            <td>10
</td>
            <td>
                <a href="/wiki/Charisma" title="Charisma">CH</a> 6, <a href="/wiki/Survival_(Fallout:_New_Vegas)" title="Survival (Fallout: New Vegas)">Survival</a> 45
</td>
            <td>2
</td>
            <td>With the first rank, hostile animals become neutral. With the second rank, they assist in combat, but not against other animals.
</td>
            <td>
                <span class="va-formid">00031DB5</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Finesse_(Fallout:_New_Vegas)" title="Finesse (Fallout: New Vegas)">Finesse</a>
            </td>
            <td>10
</td>
            <td></td>
            <td>1
</td>
            <td>+5% Critical Chance.
</td>
            <td>
                <span class="va-formid">00094EC1</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Math_Wrath" title="Math Wrath">Math Wrath</a>
            </td>
            <td>10
</td>
            <td>
                <a href="/wiki/Science_(Fallout:_New_Vegas)" title="Science (Fallout: New Vegas)">Science</a> 70
</td>
            <td>1
</td>
            <td>Reduces all AP costs by 10%.
</td>
            <td>
                <span class="va-formid">00135EC3</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Miss_Fortune" title="Miss Fortune">Miss Fortune</a>
            </td>
            <td>10
</td>
            <td>
                <a href="/wiki/Luck" title="Luck">LU</a> 6
</td>
            <td>1
</td>
            <td>10% chance that <a href="/wiki/Miss_Fortune_(character)" title="Miss Fortune (character)">Miss Fortune</a> will incapacitate a target in V.A.T.S.
</td>
            <td>
                <span class="va-formid">00137800</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Mister_Sandman_(Fallout:_New_Vegas)" title="Mister Sandman (Fallout: New Vegas)">Mister Sandman</a>
            </td>
            <td>10
</td>
            <td>
                <a href="/wiki/Sneak_(Fallout:_New_Vegas)" title="Sneak (Fallout: New Vegas)">Sneak</a> 60
</td>
            <td>1
</td>
            <td>Can instantly kill a sleeping non-player character and earn bonus XP when doing so.
</td>
            <td>
                <span class="va-formid">00031DAD</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Mysterious_Stranger_(Fallout:_New_Vegas)" title="Mysterious Stranger (Fallout: New Vegas)">Mysterious Stranger</a>
            </td>
            <td>10
</td>
            <td>
                <a href="/wiki/Luck" title="Luck">LU</a> 6
</td>
            <td>1
</td>
            <td>10% chance that the <a href="/wiki/Mysterious_Stranger_(character)" title="Mysterious Stranger (character)">Mysterious Stranger</a> will finish off a target in V.A.T.S.
</td>
            <td>
                <span class="va-formid">00031DBC</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Nerd_Rage!_(Fallout:_New_Vegas)" title="Nerd Rage! (Fallout: New Vegas)">Nerd Rage!</a>
            </td>
            <td>10
</td>
            <td>
                <a href="/wiki/Intelligence" title="Intelligence">IN</a> 5, <a href="/wiki/Science_(Fallout:_New_Vegas)" title="Science (Fallout: New Vegas)">Science</a> 50
</td>
            <td>1
</td>
            <td>+15 <a href="/wiki/Damage_Threshold" title="Damage Threshold">DT</a> and Strength increased to 10 whenever health is 20% or lower.
</td>
            <td>
                <span class="va-formid">00044CA7</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Night_Person_(Fallout:_New_Vegas)" title="Night Person (Fallout: New Vegas)">Night Person</a>
            </td>
            <td>10
</td>
            <td></td>
            <td>1
</td>
            <td>+2 Intelligence and +2 Perception between 6:00 P.M. and 6:00 A.M.
</td>
            <td>
                <span class="va-formid">00094EBD</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Plasma_Spaz" title="Plasma Spaz">Plasma Spaz</a>
            </td>
            <td>10
</td>
            <td>
                <a href="/wiki/Energy_Weapons_(Fallout:_New_Vegas)" title="Energy Weapons (Fallout: New Vegas)">Energy Weapons</a> 70
</td>
            <td>1
</td>
            <td>
                <a href="/wiki/Action_Points" title="Action Points">AP</a> costs for all plasma weapons are reduced by 20%.
</td>
            <td>
                <span class="va-formid">00165AEF</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Fast_Metabolism_(Fallout:_New_Vegas)" title="Fast Metabolism (Fallout: New Vegas)">Fast Metabolism</a>
            </td>
            <td>12
</td>
            <td></td>
            <td>1
</td>
            <td>+20% Hit Points restored with stimpaks.
</td>
            <td>
                <span class="va-formid">00094EBF</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Ghastly_Scavenger" title="Ghastly Scavenger">Ghastly Scavenger</a>
            </td>
            <td>12
</td>
            <td>
                <a href="/wiki/Cannibal_(Fallout:_New_Vegas)" title="Cannibal (Fallout: New Vegas)">Cannibal</a> perk
</td>
            <td>1
</td>
            <td>When you're in Sneak mode, you gain the option to eat a super mutant or feral ghoul corpse to regain hit points, but lose Karma.
</td>
            <td>
                <span class="va-formid">00135EC9</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Hit_the_Deck_(Fallout:_New_Vegas)" title="Hit the Deck (Fallout: New Vegas)">Hit the Deck</a>
            </td>
            <td>12
</td>
            <td>
                <a href="/wiki/Explosives_(Fallout:_New_Vegas)" title="Explosives (Fallout: New Vegas)">Explosives</a> 70
</td>
            <td>1
</td>
            <td>+25 <a href="/wiki/Damage_Threshold" title="Damage Threshold">DT</a> against explosives.
</td>
            <td>
                <span class="va-formid">001651B6</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Life_Giver_(Fallout:_New_Vegas)" title="Life Giver (Fallout: New Vegas)">Life Giver</a>
            </td>
            <td>12
</td>
            <td>
                <a href="/wiki/Endurance" title="Endurance">EN</a> 6
</td>
            <td>1
</td>
            <td>+30 hit points.
</td>
            <td>
                <span class="va-formid">00031DB1</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Long_Haul" title="Long Haul">Long Haul</a>
            </td>
            <td>12
</td>
            <td>
                <a href="/wiki/Endurance" title="Endurance">EN</a> 6, <a href="/wiki/Barter_(Fallout:_New_Vegas)" title="Barter (Fallout: New Vegas)">Barter</a> 70
</td>
            <td>1
</td>
            <td>Being over-encumbered no longer prevents you from using fast travel.
</td>
            <td>
                <span class="va-formid">00146098</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Piercing_Strike" title="Piercing Strike">Piercing Strike</a>
            </td>
            <td>12
</td>
            <td>
                <a href="/wiki/Unarmed_(Fallout:_New_Vegas)" title="Unarmed (Fallout: New Vegas)">Unarmed</a> 70
</td>
            <td>1
</td>
            <td>All your unarmed and melee attacks negate 15 points of <a href="/wiki/Damage_Threshold" title="Damage Threshold">DT</a>.
</td>
            <td>
                <span class="va-formid">0014609F</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Pyromaniac_(Fallout:_New_Vegas)" title="Pyromaniac (Fallout: New Vegas)">Pyromaniac</a>
            </td>
            <td>12
</td>
            <td>
                <a href="/wiki/Explosives_(Fallout:_New_Vegas)" title="Explosives (Fallout: New Vegas)">Explosives</a> 60
</td>
            <td>1
</td>
            <td>+50% damage with fire-based weapons.
</td>
            <td>
                <span class="va-formid">00031DB2</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Robotics_Expert_(Fallout:_New_Vegas)" title="Robotics Expert (Fallout: New Vegas)">Robotics Expert</a>
            </td>
            <td>12
</td>
            <td>
                <a href="/wiki/Science_(Fallout:_New_Vegas)" title="Science (Fallout: New Vegas)">Science</a> 50
</td>
            <td>1
</td>
            <td>+25% damage to robots; can shut down robots by sneaking up on them and deactivating.
</td>
            <td>
                <span class="va-formid">00031DC2</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Silent_Running_(Fallout:_New_Vegas)" title="Silent Running (Fallout: New Vegas)">Silent Running</a>
            </td>
            <td>12
</td>
            <td>
                <a href="/wiki/Agility" title="Agility">AG</a> 6, <a href="/wiki/Sneak_(Fallout:_New_Vegas)" title="Sneak (Fallout: New Vegas)">Sneak</a> 50
</td>
            <td>1
</td>
            <td>Running no longer factors into a successful sneak attempt.
</td>
            <td>
                <span class="va-formid">00031DB3</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Sniper_(Fallout:_New_Vegas)" title="Sniper (Fallout: New Vegas)">Sniper</a>
            </td>
            <td>12
</td>
            <td>
                <a href="/wiki/Perception" title="Perception">PE</a> 6, <a href="/wiki/Agility" title="Agility">AG</a> 6
</td>
            <td>1
</td>
            <td>25% more likely to hit the target's head in V.A.T.S.
</td>
            <td>
                <span class="va-formid">00031DB4</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Splash_Damage" title="Splash Damage">Splash Damage</a>
            </td>
            <td>12
</td>
            <td>
                <a href="/wiki/Explosives_(Fallout:_New_Vegas)" title="Explosives (Fallout: New Vegas)">Explosives</a> 70
</td>
            <td>1
</td>
            <td>Explosives have a 25% larger area of effect.
</td>
            <td>
                <span class="va-formid">00165AF0</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Unstoppable_Force" title="Unstoppable Force">Unstoppable Force</a>
            </td>
            <td>12
</td>
            <td>
                <a href="/wiki/Strength" title="Strength">ST</a> 7, <a href="/wiki/Melee_Weapons_(Fallout:_New_Vegas)" title="Melee Weapons (Fallout: New Vegas)">Melee Weapons</a> 90
</td>
            <td>1
</td>
            <td>x4 normal damage through enemy <a href="/wiki/Blocking" title="Blocking">Blocks</a> with melee and unarmed attacks.
</td>
            <td>
                <span class="va-formid">00165447</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Adamantium_Skeleton_(Fallout:_New_Vegas)" title="Adamantium Skeleton (Fallout: New Vegas)">Adamantium Skeleton</a>
            </td>
            <td>14
</td>
            <td></td>
            <td>1
</td>
            <td>Damage taken by limbs reduced by 50%.
</td>
            <td>
                <span class="va-formid">00094EC4</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Center_of_Mass" title="Center of Mass">Center of Mass</a>
            </td>
            <td>14
</td>
            <td>
                <a href="/wiki/Guns" title="Guns">Guns</a> 70
</td>
            <td>1
</td>
            <td>In V.A.T.S., you do an additional 15% damage when targeting the torso.
</td>
            <td>
                <span class="va-formid">00165182</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Chemist_(Fallout:_New_Vegas)" title="Chemist (Fallout: New Vegas)">Chemist</a>
            </td>
            <td>14
</td>
            <td>
                <a href="/wiki/Medicine_(Fallout:_New_Vegas)" title="Medicine (Fallout: New Vegas)">Medicine</a> 60
</td>
            <td>1
</td>
            <td>Chems and (in Hardcore) stimpaks last twice as long.
</td>
            <td>
                <span class="va-formid">0009982D</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Jury_Rigging_(Fallout:_New_Vegas)" title="Jury Rigging (Fallout: New Vegas)">Jury Rigging</a>
            </td>
            <td>14
</td>
            <td>
                <a href="/wiki/Repair_(Fallout:_New_Vegas)" title="Repair (Fallout: New Vegas)">Repair</a> 90
</td>
            <td>1
</td>
            <td>Repair any item using a roughly similar item.
</td>
            <td>
                <span class="va-formid">00165815</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Light_Step_(Fallout:_New_Vegas)" title="Light Step (Fallout: New Vegas)">Light Step</a>
            </td>
            <td>14
</td>
            <td>
                <a href="/wiki/Perception" title="Perception">PE</a> 6, <a href="/wiki/Agility" title="Agility">AG</a> 6
</td>
            <td>1
</td>
            <td>Floor traps or mines will not be set off.
</td>
            <td>
                <span class="va-formid">00031DB7</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Purifier_(perk)" title="Purifier (perk)">Purifier</a>
            </td>
            <td>14
</td>
            <td></td>
            <td>1
</td>
            <td>You do 50% extra damage with <a href="/wiki/Melee_Weapons_(Fallout:_New_Vegas)" title="Melee Weapons (Fallout: New Vegas)">melee</a> and <a href="/wiki/Unarmed_(Fallout:_New_Vegas)" title="Unarmed (Fallout: New Vegas)">Unarmed</a> weapons against <a href="/wiki/Centaur_(Fallout:_New_Vegas)" title="Centaur (Fallout: New Vegas)">centaurs</a>, <a href="/wiki/Night_stalker" title="Night stalker">night stalkers</a>, <a href="/wiki/Spore_plant_(Fallout:_New_Vegas)" title="Spore plant (Fallout: New Vegas)">spore plants</a>, <a href="/wiki/Spore_carrier" title="Spore carrier">spore carriers</a>, <a href="/wiki/Deathclaw_(Fallout:_New_Vegas)" title="Deathclaw (Fallout: New Vegas)">deathclaws</a> and <a href="/wiki/Super_mutant_(Fallout:_New_Vegas)" title="Super mutant (Fallout: New Vegas)">super mutants</a>.
</td>
            <td>
                <span class="va-formid">00135F75</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Action_Boy_Action_Girl_(Fallout:_New_Vegas)" title="Action Boy Action Girl (Fallout: New Vegas)">Action Boy/Action Girl</a>
            </td>
            <td>16
</td>
            <td>
                <a href="/wiki/Agility" title="Agility">AG</a> 6
</td>
            <td>2
</td>
            <td>+15 <a href="/wiki/Action_Points" title="Action Points">Action Points</a>.
</td>
            <td>
                <span class="va-formid">00031DBA</span><hr>
                <span class="va-formid">0007B202</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Better_Criticals_(Fallout:_New_Vegas)" title="Better Criticals (Fallout: New Vegas)">Better Criticals</a>
            </td>
            <td>16
</td>
            <td>
                <a href="/wiki/Perception" title="Perception">PE</a> 6, <a href="/wiki/Luck" title="Luck">LU</a> 6
</td>
            <td>1
</td>
            <td>+50% damage with critical hits.
</td>
            <td>
                <span class="va-formid">00031DBB</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Chem_Resistant_(Fallout:_New_Vegas)" title="Chem Resistant (Fallout: New Vegas)">Chem Resistant</a>
            </td>
            <td>16
</td>
            <td>
                <a href="/wiki/Medicine_(Fallout:_New_Vegas)" title="Medicine (Fallout: New Vegas)">Medicine</a> 60
</td>
            <td>1
</td>
            <td>Half as likely to get addicted.
</td>
            <td>
                <span class="va-formid">00099827</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Meltdown_(Fallout:_New_Vegas)" title="Meltdown (Fallout: New Vegas)">Meltdown</a>
            </td>
            <td>16
</td>
            <td>
                <a href="/wiki/Energy_Weapons_(Fallout:_New_Vegas)" title="Energy Weapons (Fallout: New Vegas)">Energy Weapons</a> 90
</td>
            <td>1
</td>
            <td>Foes killed by your Energy Weapons emit a corona of harmful energy.
</td>
            <td>
                <span class="va-formid">0014609A</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Tag!_(Fallout:_New_Vegas)" title="Tag! (Fallout: New Vegas)">Tag!</a>
            </td>
            <td>16
</td>
            <td></td>
            <td>1
</td>
            <td>Fourth "tag" skill: +15 points to that skill.
</td>
            <td>
                <span class="va-formid">00031DBD</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Weapon_Handling_(Fallout:_New_Vegas)" title="Weapon Handling (Fallout: New Vegas)">Weapon Handling</a>
            </td>
            <td>16
</td>
            <td>
                <a href="/wiki/Strength" title="Strength">ST</a> &lt; 10
</td>
            <td>1
</td>
            <td>Weapon Strength requirements are now 2 points lower than normal for you.
</td>
            <td>
                <span class="va-formid">00146097</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Computer_Whiz_(Fallout:_New_Vegas)" title="Computer Whiz (Fallout: New Vegas)">Computer Whiz</a>
            </td>
            <td>18
</td>
            <td>
                <a href="/wiki/Intelligence" title="Intelligence">IN</a> 7, <a href="/wiki/Science_(Fallout:_New_Vegas)" title="Science (Fallout: New Vegas)">Science</a> 70
</td>
            <td>1
</td>
            <td>Can make one extra attempt to hack a locked-down terminal.
</td>
            <td>
                <span class="va-formid">00031DC4</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Concentrated_Fire_(Fallout:_New_Vegas)" title="Concentrated Fire (Fallout: New Vegas)">Concentrated Fire</a>
            </td>
            <td>18
</td>
            <td>
                <a href="/wiki/Energy_Weapons_(Fallout:_New_Vegas)" title="Energy Weapons (Fallout: New Vegas)">Energy Weapons</a> 60, <a href="/wiki/Guns" title="Guns">Guns</a> 60
</td>
            <td>1
</td>
            <td>+5% accuracy in V.A.T.S. with every subsequent attack on a given body part queued.
</td>
            <td>
                <span class="va-formid">00044CAF</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Infiltrator_(Fallout:_New_Vegas)" title="Infiltrator (Fallout: New Vegas)">Infiltrator</a>
            </td>
            <td>18
</td>
            <td>
                <a href="/wiki/Perception" title="Perception">PE</a> 7, <a href="/wiki/Lockpick_(Fallout:_New_Vegas)" title="Lockpick (Fallout: New Vegas)">Lockpick</a> 70
</td>
            <td>1
</td>
            <td>Can make one more attempt to pick a broken lock.
</td>
            <td>
                <span class="va-formid">00044CB0</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Paralyzing_Palm_(Fallout:_New_Vegas)" title="Paralyzing Palm (Fallout: New Vegas)">Paralyzing Palm</a>
            </td>
            <td>18
</td>
            <td>
                <a href="/wiki/Unarmed_(Fallout:_New_Vegas)" title="Unarmed (Fallout: New Vegas)">Unarmed</a> 70
</td>
            <td>1
</td>
            <td>Can paralyze an enemy for 30 seconds with a V.A.T.S. unarmed attack.
</td>
            <td>
                <span class="va-formid">00044CAA</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Explorer_(Fallout:_New_Vegas)" title="Explorer (Fallout: New Vegas)">Explorer</a>
            </td>
            <td>20
</td>
            <td></td>
            <td>1
</td>
            <td>All locations are marked on your map.
</td>
            <td>
                <span class="va-formid">00031DE5</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Grim_Reaper%27s_Sprint_(Fallout:_New_Vegas)" title="Grim Reaper's Sprint (Fallout: New Vegas)">Grim Reaper's Sprint</a>
            </td>
            <td>20
</td>
            <td></td>
            <td>1
</td>
            <td>A kill in V.A.T.S. restores 20 AP immediately.
</td>
            <td>
                <span class="va-formid">00099834</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Ninja_(Fallout:_New_Vegas)" title="Ninja (Fallout: New Vegas)">Ninja</a>
            </td>
            <td>20
</td>
            <td>
                <a href="/wiki/Melee_Weapons_(Fallout:_New_Vegas)" title="Melee Weapons (Fallout: New Vegas)">Melee Weapons</a> 80, <a href="/wiki/Sneak_(Fallout:_New_Vegas)" title="Sneak (Fallout: New Vegas)">Sneak</a> 80
</td>
            <td>1
</td>
            <td>Multiplies <a href="/wiki/Critical_Chance" title="Critical Chance">Critical Chance</a> by x1.15 with melee and unarmed weapons (despite the description stating it's a flat +15% bonus), and grants +25% damage with melee/unarmed sneak attack criticals.
</td>
            <td>
                <span class="va-formid">00031DCC</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Solar_Powered_(Fallout:_New_Vegas)" title="Solar Powered (Fallout: New Vegas)">Solar Powered</a>
            </td>
            <td>20
</td>
            <td>
                <a href="/wiki/Endurance" title="Endurance">EN</a> 7
</td>
            <td>1
</td>
            <td>+2 Strength and +1 HP per second while outside, from 6:00 A.M. to 6:00 P.M.
</td>
            <td>
                <span class="va-formid">00031DC5</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Laser_Commander" title="Laser Commander">Laser Commander</a>
            </td>
            <td>22
</td>
            <td>
                <a href="/wiki/Energy_Weapons_(Fallout:_New_Vegas)" title="Energy Weapons (Fallout: New Vegas)">Energy Weapons</a> 90
</td>
            <td>1
</td>
            <td>You do an extra 15% damage and have a 10% extra chance to critically hit with any laser weapon.
</td>
            <td>
                <span class="va-formid">00165789</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Nuka_Chemist" title="Nuka Chemist">Nuka Chemist</a>
            </td>
            <td>22
</td>
            <td>
                <a href="/wiki/Science_(Fallout:_New_Vegas)" title="Science (Fallout: New Vegas)">Science</a> 90
</td>
            <td>1
</td>
            <td>Unlocks special Nuka-Cola recipes at the workbench.
</td>
            <td>
                <span class="va-formid">00165AE6</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Spray_and_Pray" title="Spray and Pray">Spray and Pray</a>
            </td>
            <td>22
</td>
            <td></td>
            <td>1
</td>
            <td>Your attacks do 75% less damage to companions.
</td>
            <td>
                <span class="va-formid">00165181</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Slayer_(Fallout:_New_Vegas)" title="Slayer (Fallout: New Vegas)">Slayer</a>
            </td>
            <td>24
</td>
            <td>
                <a href="/wiki/Agility" title="Agility">AG</a> 7, <a href="/wiki/Unarmed_(Fallout:_New_Vegas)" title="Unarmed (Fallout: New Vegas)">Unarmed</a> 90
</td>
            <td>1
</td>
            <td>The speed of all your melee and unarmed attacks is increased by 30%.
</td>
            <td>
                <span class="va-formid">00165446</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Nerves_of_Steel_(Fallout:_New_Vegas)" title="Nerves of Steel (Fallout: New Vegas)">Nerves of Steel</a>
            </td>
            <td>26
</td>
            <td>
                <a href="/wiki/Agility" title="Agility">AG</a> 7
</td>
            <td>1
</td>
            <td>20% faster AP regeneration.
</td>
            <td>
                <span class="va-formid">000E2C49</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Rad_Absorption_(Fallout:_New_Vegas)" title="Rad Absorption (Fallout: New Vegas)">Rad Absorption</a>
            </td>
            <td>28
</td>
            <td>
                <a href="/wiki/Endurance" title="Endurance">EN</a> 7
</td>
            <td>1
</td>
            <td>-1 Rad every 20 seconds.
</td>
            <td>
                <span class="va-formid">000E2C4A</span>
            </td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>

<script src="{{ '/js/nv.js' | url }}"></script>