---
layout: layouts/main.njk
title: Writing practice
eleventyNavigation:
  key: Writing practice
  order: 2
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<h1>{{ title }}</h1>
<ul>
    {% for post in posts %}
        {% if 'Writing practice' in post.data.tags %}
            <li class="m-b-3">
                <a href="{{ post.url | url }}">
                    <h3 class="m-0">{{ post.data.title }}</h3>
                    <p class="m-0">{{ post.data.excerpt }}</p>
                    <p class="m-0">Tags: 
                        {% for tag in post.data.tags %}
                            {% if ('post' !== tag) %}
                                [{{ tag }}]
                            {% endif%} 
                        {% endfor %}
                        <span>{{ post.date.toLocaleDateString('en-GB') }}</span>
                    </p>
                </a>
            </li>
        {% endif%}
    {% endfor %}
</ul>
