$sm-lh: 26px;
$md-lh: 28px;
/* prettier-ignore */
$typography-map: (
  sm: (
    h1:    (fs: 40px, lh: $sm-lh*2,   mt: 0,          mb: $sm-lh*2,  ),
    h2:    (fs: 32px, lh: $sm-lh*1.5, mt: $sm-lh*3,   mb: $sm-lh*1.5,),
    h3:    (fs: 28px, lh: $sm-lh*1.5, mt: $sm-lh*3,   mb: $sm-lh*1.5,),
    h4:    (fs: 24px, lh: $sm-lh*1.5, mt: $sm-lh*3,   mb: $sm-lh*1.5,),
    h5:    (fs: 18px, lh: $sm-lh,     mt: $sm-lh,     mb: $sm-lh,    ),
    h6:    (fs: 16px, lh: $sm-lh,     mt: $sm-lh,     mb: $sm-lh,    ),
    p:     (fs: 16px, lh: $sm-lh,     mt: $sm-lh,     mb: $sm-lh,    ),
    small: (fs: 13px, lh: 20px,       mt: 20px,       mb: 20px,      ),
  ),
  md: (
    h1:    (fs: 48px, lh: $md-lh*2,   mt: 0,          mb: $md-lh*2,  ),
    h2:    (fs: 38px, lh: $md-lh*1.5, mt: $md-lh*3,   mb: $md-lh*1.5,),
    h3:    (fs: 32px, lh: $md-lh*1.5, mt: $md-lh*3,   mb: $md-lh*1.5,),
    h4:    (fs: 26px, lh: $md-lh*1.5, mt: $md-lh*3,   mb: $md-lh*1.5,),
    h5:    (fs: 22px, lh: $md-lh,     mt: $md-lh,     mb: $md-lh,    ),
    h6:    (fs: 18px, lh: $md-lh,     mt: $md-lh,     mb: $md-lh,    ),
    p:     (fs: 18px, lh: $md-lh,     mt: $md-lh,     mb: $md-lh,    ),
    small: (fs: 15px, lh: 22px,       mt: 22px,       mb: 22px,      ),
  )
);

@each $breakpointKey, $breakpointValue in $typography-map {
  @include breakpointWrap($breakpointKey) {
    @each $elementKey, $elementValue in $breakpointValue {
      #{$elementKey},
      .#{$elementKey} {
        font-size: map-get($elementValue, fs);
        line-height: map-get($elementValue, lh);
        margin-top: map-get($elementValue, mt);
        margin-bottom: map-get($elementValue, mb);
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h1,
h2,
h3 {
  font-family: "Radley", serif;
}

.subtitle {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 1em 0;
}

code {
  font-size: 18px;
  line-height: 1.6;
  font-family: monospace;
}
